@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica, sans-serif;
 --secondary-font: "Indie Flower", serif;
 }
html {
    background-color: white;
    font-display: swap;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    font-size: 2em;
    color: var(--primary-color);
}
body {
    font-family: var(--primary-font);
    font-size: 1em;
}
body img {
    max-width: 100%;
}

hr {
    margin-top: 1.5em;
    width: 100%;
}

.search-label {
    position: absolute;
    top: -40px;
    left: 0;
    color: white;
    background-color: black;
}

/* TITLE */

.website-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.website-title-link, .tag-item {
    text-decoration: none;
    color: var(--text-dark);
}
.website-title {
    color: black;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

/* RECIPES */

.recipes-container {
    display: flex;
    justify-content: center;
}
.recipe {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin: 1em;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: gray;
}
.recipe-content {
    display: flex;
    flex-direction: column;
}
.recipe-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.recipe img {
    width: 100%;
}

/* TAGS */

.tags {
    margin: 0 0 1em 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.tag-item {
    list-style-type: none;
    display: block;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px;
    width: max-content;
}
.rating {
    margin-top: -0.5em;
    margin-bottom: 1em;
}

/* SEARCH */

.search {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-bar {
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-width: 1px;
    border-color: gray;
}
.search-bar:focus {
    outline: none;
}
.search-button {
    background-color: white;
    border-style: solid;
    border-left-style: none;
    border-color: gray;
    border-width: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-button:hover {
    cursor: pointer;
}

/* FOOTER */

.social img {
    width: 2em;
}
footer {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-container, .recipes-container {
        width: 100%;
    }
    .recipe {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1em;
    }
    .recipe img {
        width: 300px;
    }
    footer {
        margin: 1em auto 0.5em auto;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media screen and (min-width: 960px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-container, .recipes-container {
        max-width: 960px;
        width: 100%;
    }
    .recipe {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1em;
    }

    footer {
        margin: 1em auto 0.5em auto;
        max-width: 960px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}