/* HOMEPAGE */

.homepage-content-container {
    background-color: var(--background-color);
    width: 100%;
}
.homepage-content-container h1, .catalogue-content-container h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.homepage-content-card, .homepage-content-card-even {
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5em;
    padding-bottom: 2em;
}
.homepage-content-description {
    max-width: 400px;
}
.homepage-content-header {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}


@media screen and (min-width: 600px) {

    /* HOMEPAGE */

    .homepage-content-container h1 {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    .homepage-content-container {
        max-width: 800px;
        padding: 1em;
    }
    .homepage-content-card, .homepage-content-card-even {
        padding: 1.5em;
        margin: 1em 0.5em 1em 0.5em;
    }
    .homepage-content-card {
        flex-direction: row;
    }
    .homepage-content-card-even {
        flex-direction: row-reverse;
    }
    .homepage-content-header {
        font-size: 2em;
    }
    .homepage-content-image {
        max-width: 400px;
        max-height: 200px;
    }
    .homepage-content-description {
        max-width: 400px;
    }
}

@media screen and (min-width: 960px) {

    /* HOMEPAGE */

    .homepage-content-container h1 {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    .homepage-content-container {
        max-width: 1000px;
        padding: 2em;
    }
    .homepage-content-card, .homepage-content-card-even {
        padding: 2em;
        margin: 1em;
    }
    .homepage-content-card {
        flex-direction: row;
    }
    .homepage-content-card-even {
        flex-direction: row-reverse;
    }
    .homepage-content-header {
        font-size: 2em;
    }
    .homepage-content-image {
        max-width: 500px;
        max-height: 300px;
    }
    .homepage-content-description {
        max-width: 400px;
    }
}