@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --gold-color: #EFC69B;
    --red-color: #AF1B3F;
    --dark-color: #473144;
}
body {
    background-color: white;
    color: var(--dark-color);
    font-family: Helvetica, Arial, sans-serif
}
h1 {
    font-family: 'Lora', 'Impact', serif;
    font-size: 3em;
    text-align: center;
}
/*
I don't remember why I thought I should use flex,
so I did use ChatGPT to help convert everything over to grid.
*/
#maincontent {
    display: grid;
    grid-template-columns: auto 2fr;
    margin: 0 auto;
    gap: 1em;
    padding: 2em;
    max-width: 1000px;
}
#filters {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 7rem;
    grid-template-rows: 1rem 1rem 1rem 1rem;
    gap: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: var(--gold-color);
}
#posts {
    display: grid;
    gap: 1.5em;
}
#posts img {
    display: flex;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}
#posts header {
    font-family: 'Lora', 'Impact', serif;
    font-weight: bold;
    font-size: 1.75em;
    color: var(--red-color);
    margin-bottom: 1em;
}
#posts p {
    max-width: 500px;
}
#posts a {
    text-decoration: none;
    color: var(--red-color);
    font-weight: normal;
}
#posts article {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2em;
    margin-bottom: 1em;
}
.meta {
    text-align: right;
    border-right-style: solid;
    border-width: 2px;
    border-color: var(--gold-color);
    padding: 1em;
}
.meta .date {
    font-size: 1.25em;
}
.meta p {
    margin: 0.5em 0 0.5em 0;
}
.main-nav ul {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--gold-color);
    justify-content: end;
    justify-items: end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    font-size: 1em;
    padding: 1em;
}
.main-nav a {
    text-decoration: none;
    color: var(--red-color);
    margin-right: 1em;
    font-weight: normal;
}
.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    color: white;
    background-color: black;
}
.skiptocontent a:focus {
    top: 0;
}