@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
}
/* Main structure */
html {
    font-size: 24px;
}
header, menu, main, footer {
    padding: 1em;
}
header, menu, footer {
    background: var(--primary-color);
    color: var(--text-light);
    display: block;
}
body {
    background-color: #ebebeb;
    font-family: var(--primary-font);
    margin: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Header, Menu */
header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.25em;
}
#toggle-drop {
    font-size: 1em;
}
h1, h2 {
    font-family: var(--secondary-font);
}
nav button {
    display: block;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-light);
}
a {
    margin-top: 0.5em;
    color: var(--text-light);
}
#dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Gallery, Footer */
.gallery {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
}
.gallery img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
    filter: drop-shadow(10px 10px 4px #00000075);
}
.gallery img:hover {
    cursor: pointer;
}
.footer-spacer {
    margin: 0;
}
/* Queries */
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .footer-spacer {
        margin: 5%;
    }
    header {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #toggle-drop {
        display: none;
    }
    #dropdown {
        flex-direction: row;
        margin-left: -4em;
    }
    a {
        margin-left: 4em;
    }
    .footer-spacer {
        margin: 12%;
    }
}